<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Інтернет НЕ обов'язковий для роботи: тільки для відкриття лінків у браузері -->
    <application
        android:label="DMS Scout"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/Theme.DmsScout">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
